---
import Layout  from "../layouts/layout.astro";
import Card1 from "../components/card1.astro";
import Card2 from "../components/card2.astro";
import Card3 from "../components/card3.astro";
import Card4 from "../components/card4.astro";
import Card5 from "../components/card5.astro";
import Card6 from "../components/card6.astro";
import Card7 from "../components/card7.astro";
import Card8 from "../components/card8.astro";
---


<Layout>
	<main class="w-[375px] grid place-content-center mx-auto px-8 py-8 gap-4
	md:w-[1100px] grid-layout-4column md:gap-4 md:py-8 md:h-screen 
	">
		<Card1 />
		<Card2 />
		<Card3 />
		<Card4 />
		<Card5 />
		<Card6 />
		<Card7 />
		<Card8 />

	</main>


</Layout>
