---
---
<div class=" area-consistent p-4 rounded-xl bg-yellow-500 font-dmsans  overflow-clip">

       
    <p class="text-black font-bold text-xl leading-none mb-4 w-[75%] 
      md:text-2xl  md:w-[80%]
    ">Mantain a consistent posting schedule.</p>

    <img class="w-[75%] -mb-10  
                md:w-[100%] md:-mb-24
    " src="bento-grid/assets/images/illustration-consistent-schedule.webp" alt="consistent schedule "  />



</div>