---
---

<div class="area-accounts p-4 rounded-xl bg-white font-dmsans">

    <img class="w-80 mb-4" src="/assets/images/illustration-multiple-platforms.webp" alt="multiple platforms illustration">
        
    <p class="text-black font-bold text-xl leading-none
            md:text-3xl
    ">Manage multiple accounts and platformns.</p>

</div>