---
---
<div class=" area-schedule py-8  font-dmsans rounded-xl bg-purple-100 flex flex-col items-center text-center overflow-clip

md:flex md:flex-col
">    
        <p class="text-black text-center font-bold text-2xl leading-none mb-6 md:px-2
        md:text-left md:ml-8
        ">Schedule to social media.</p>

        <img class="mb-6 w-[90%] 
        md:w-[100%]  md:translate-x-8"
         src="bento-grid/assets/images/illustration-schedule-posts.webp" alt="schedule post" />

        <p class="text-black text-center text-xl leading-5 px-4
        md:text-left md:text-lg md:ml-8 md:px-2
        "> Optimize post timings to publish content at the perfect time for your audience.</p>

 </div>