---
---

<div class="area-audience p-4 rounded-xl bg-white font-dmsans space-y-2">

         
    <h2 class="text-black text-4xl leading-none
            md:text-5xl
           
    ">>56%</h2>
    
    <p class="text-black md:mb-12">faster audience growth</p>

    <img class="w-[50%] md:w-[80%] " src="/bento-grid/assets/images/illustration-audience-growth.webp" alt="audience growth illustration">


</div>

