---

---

<div class="area-social rounded-xl bg-purple-500 p-8 text-center font-dmsans
 
">
   
    <h2 class="text-white text-5xl font-medium mb-8  md:mb-4">
        Social Media  
        <span class="text-yellow-500">10X</span> 
        <span class="italic">Faster </span>  
        with AI 
    </h2>
    
    <img class="w-40 mx-auto" src="bento-grid/assets/images/illustration-five-stars.webp" alt="five stars">
    
    <p class="font-light text-purple-100"> Over 4,000 5-star reviews</p>
    
    
</div>