---

---

<div class="area-ai p-4 rounded-xl bg-yellow-500 font-dmsans">

    <h2 class="text-black text-3xl leading-7 tracking-tighter mb-4
            md:text-4xl md:w-[80%] md:leading md:mb-10
    ">Write your content using AI.</h2>
    
    <img class="w-[70%] md:w-[90%] md:mx-auto" src="/assets/images/illustration-ai-content.webp" alt="ai content illustration">

</div>