---
---
<div class="area-grow p-6 rounded-xl bg-purple-500 font-dmsans flex flex-col items-center text-center gap-8
md:flex md:flex-row md:gap-4 
">   
    
    <img class="w-[80%]
            md:w-[45%] "    
    src="/assets/images/illustration-grow-followers.webp" alt="grow followres">

    <p class="text-white text-3xl text-center px-10
            md:text-left md:text-3xl md:px-0"
    
    >Grow followers with non-stop content.</p>


</div>