---
---
<div  class="area-create p-6 rounded-xl bg-yellow-100 font-dmsans
        md:py-16
">

    <h2 class="text-black text-2xl leading-none mb-4
            md:text-3xl md:leading-none
    ">Create and schedule content <spam class="text-purple-500">quicker.</spam></h2>
    
    
    <img class="w-[60%] md:w-[90%]" src="/assets/images/illustration-create-post.webp" alt="create post illustration">

</div>